<!-- <body class="auth-page auth-page--register">
    <div class="auth-page__container">
        <div class="auth-form auth-form--register">
            <h2 class="auth-form__welcome">Create Your Account</h2>
            <h3 class="auth-form__title">Register</h3>
            
            <input type="text" class="auth-form__input" placeholder="Full Name">
            <input type="email" class="auth-form__input" placeholder="Email">
            <input type="password" class="auth-form__input" placeholder="Password">
            <input type="password" class="auth-form__input" placeholder="Confirm Password">
            
            <button class="auth-form__button">Register</button>
        </div>
    </div>
</body> -->


<body class="auth-page auth-page--register">
    <div class="auth-page__container">
        <div class="auth-form auth-form--register">
            <h2 class="auth-form__welcome">Create Your Account</h2>
            <h3 class="auth-form__title">Register</h3>


            <input type="text" class="auth-form__input" placeholder="Full Name">
            <input type="email" class="auth-form__input" placeholder="Email">
            <input type="password" class="auth-form__input" placeholder="Password">
            <input type="password" class="auth-form__input" placeholder="Confirm Password">

            <button class="auth-form__button">Register</button>
        </div>
    </div>
</body>