<header class="header">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <div class="header__left">
        <div class="header__logo">
            <a href="/">Clothify</a>
        </div>
        <nav class="header__main-nav">
            <a class="header__link" href="/">Home</a>
            <a class="header__link" routerLink="/category/men">Men</a>
            <a class="header__link" routerLink="/category/women">Women</a>
            <a class="header__link" routerLink="/category/kids">Kids</a>
        </nav>
    </div>

    <nav class="header__nav">
        <div class="header__search">
            <input type="checkbox" id="search-toggle" class="search-toggle">
            <label for="search-toggle" class="search-icon">🔍</label>
            <input type="text" class="search-input" placeholder="Search products..." [(ngModel)]="searchValue">
            <button class="search-btn" (click)="onSearch()">Search</button>
        </div>
        <div *ngIf="!signIn()">
            <button class="header__auth-btn">
                <a routerLink="/login">Sign in</a>
            </button>
        </div>
        <div *ngIf="signIn()">
            <button class="header__auth-btn_out" (click)="logOut()">
                <a routerLink="/">Sign out</a>
            </button>
        </div>

        <a class="header__cart" href="/cart">🛒</a>
    </nav>
</header>